.mid-size {
    width: 40%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.social-wrapper {
    margin: auto;
    display: inline-block;
}