<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- <link href="" rel="stylesheet"> -->
    <style>
        .mid-size {
            width: 60%;
            height: auto;
            margin: auto;
        }
        .form-message {
            color: red;
        }

        #loading {
            display: none;
            position: absolute;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            bottom: 0;
            text-align: center;
        }
    </style>
</head>

<body>
   <!-- TODO: JQUERY kiem tra du lieu nhap vao -->
   <img src="https://www.futurelifenow-online.com/wp-content/uploads/2022/12/loading-gif.gif" alt="loading" id="loading">
   
    <form onsubmit="submitForm();" id="myForm" class="mid-size bg-light">
        <h1 class="text-center">ĐĂNG KÍ THÀNH VIÊN</h1>
        <div class="form-group row">
            <label for="username" class="col-sm-2 col-form-label">Username*</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="username" placeholder="Username">
                <p class="form-message"></p>
            </div>
        </div>
        <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="name" placeholder="Name">
                <p class="form-message"></p>
            </div>
        </div>
        <div class="form-group row">
            <label for="email" class="col-sm-2 col-form-label">Email*</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="email" placeholder="Email">
                <p class="form-message"></p>
            </div>
        </div>
        <div class="form-group row">
            <label for="password" class="col-sm-2 col-form-label">Password*</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="password" placeholder="Password">
                <p class="form-message"></p>
            </div>
        </div>

        <div class="form-group row">
            <label for="repassword" class="col-sm-2 col-form-label">Confirm Password*</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="repassword" placeholder="Password">
                <p class="form-message"></p>
            </div>
        </div>

        <div class="form-group row">
            <label for="phonenumber" class="col-sm-2 col-form-label">Phone Number</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="phonenumber" placeholder="Phone Number">
                <p class="form-message"></p>
            </div>
        </div>
        <p class="text-center text-secondary">*Required fields</p>

        <button type="submit" class="btn btn-primary btn-lg w-100">Register</button>
    </form>

    <div id="response" style="display: none;" class="alert"></div>

    <script>
        // Hàm kiểm tra định dạng Email
        const isValidEmail = (email) => {
            let regex =
                /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
            return regex.test(email);
        }

        // Hàm kiểm tra định dạng Số điện thoại
        const isValidPhonenumber = (phonenumber) => {
            let phoneRegex = /^[0-9]{10,11}$/;
            return phoneRegex.test(phonenumber);
        }
        function submitForm() {
            event.preventDefault();

            const username = $("#username").val();
            const name = $("#name").val();
            const email = $("#email").val();
            const phonenumber = $("#phonenumber").val();
            const password = $("#password").val();
            const confirmpassword = $("#repassword").val();

            // Kiểm tra và xử lý các ràng buộc của form
            let isValid = true;

            // Kiểm tra Tên Đăng nhập lớn hơn 4 ký tự
            if (username.length < 4) {
                isValid = false;
                $("#username")
                    .next(".form-message")
                    .text("Tên đăng nhập phải có ít nhất 4 ký tự");
            } else {
                $("#username").next(".form-message").text("");
            }

            // Kiểm tra Mật khẩu không ít hơn 5 ký tự
            if (password.length < 5) {
                isValid = false;
                $("#password")
                    .next(".form-message")
                    .text("Mật khẩu phải có ít nhất 5 ký tự");
            } else {

                $("#password").next(".form-message").text("");

            }

            // Kiểm tra Mật khẩu nhập lại phải giống Mật khẩu ở trên
            let repassword = $("#repassword").val();
            if (repassword !== password) {
                isValid = false;
                $("#repassword")
                    .next(".form-message")
                    .text("Mật khẩu nhập lại không khớp");
            } else {
                $("#repassword").next(".form-message").text("");
            }

            // Kiểm tra Email không được trống và đúng định dạng
            if (email == "") {
                isValid = false;
                $("#email").next(".form-message").text("Vui lòng nhập Email");
            } else if (!isValidEmail(email)) {
                isValid = false;
                $("#email")
                    .next(".form-message")
                    .text("Email không đúng định dạng");
            } else {
                $("#email").next(".form-message").text("");
            }

            // Kiểm tra Số điện thoại phải hợp lệ
            if (!isValidPhonenumber(phonenumber)) {
                isValid = false;
                $("#phonenumber")
                    .next(".form-message")
                    .text("Số điện thoại không hợp lệ");
            } else {
                $("#phonenumber").next(".form-message").text("");
            }

            // Nếu tất cả các ràng buộc được đáp ứng, gửi form
            if (isValid) {

                const formdata = {
                    username: username,
                    name: name,
                    email: email,
                    password: password,
                    phonenumber: confirmpassword,
                };

                console.log(formdata);
                fetch('http://localhost:3000/dangki', {
                    method: 'POST',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },

                    body: JSON.stringify(formdata)
                })
                    .then(response => response.json()) // Assuming the server returns JSON 
                    .then(data => {
                        // Handle the server response 
                        if (data.error) {
                            document.getElementById('response').innerText = data.error;
                            document.getElementById('response').style.display = "block";
                            document.getElementById('response').classList.add("alert-warning");
                        }
                        else if (data.success) {
                            document.getElementById('response').innerText = data.success;
                            document.getElementById('response').style.display = "block";
                            document.getElementById('response').classList.remove("alert-warning");
                            document.getElementById('response').classList.add("alert-success");
                            document.getElementById('loading').style.display = "block";
                            setTimeout(() => {
                                window.location.href = "http://localhost:3000/dangnhap";
                            }, 2000);
                        }
                    })
                    .catch(error => {
                        // Handle errors 
                        console.error('Error:', error);
                        document.getElementById('response').innerText = 'An error occurred.';
                    });
            }
        }
    </script>
</body>

</html>