.item {
    border: 1px solid black;
    display: flex; 
    flex-direction: column;
    width: 250px;
}

.desc { 
    display: flex; 
    flex-direction: column;
    margin: 10px;
}

.item img {
    width: inherit; 
    height: auto;
}

.item p {
    display: inline-block;
}

.item input {
    width: 3em;
}
